@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}
html, body  {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #4788ef;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 2px .1px black;
    color: #4788ef;
}

.main {
    background-color: white;
    border-color: black;
    border-radius: 50px;
    padding: 50px;
    width: 600px;
    height: 800px;
}

.parrafo {
    text-align: justify;
    line-height: 2rem;
}

.boton {
    border-radius: 20px;
    background-color: #a1c7ff;
    width: 100%;
    border: none;
    height: 5%;
}

.boton:hover {
    background-color: #78b7ff;
}